.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 100vh;
}

.container div {
  background: gray;
  border: 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: b;
}
